@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Poppins:wght@300&display=swap');

:root {
 
    --font-Faculty: "Faculty Glyphic", sans-serif;
}

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {

    font-family: var(--font-Faculty);
}

body {

    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}